body{
    background: #f0f8ea;
    font-family: 'Roboto', sans-serif;
	padding: 2px;
	background-image: url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1549&q=80")
}
  .izquierda {
	float: left;
	width: 25%;
	
   }
  
  img#foto {
	width: 10vw;
	height: 10vw;
	margin-left: 2.5vw;
	margin-top:  0vw;
	border-radius: 2.8vw;
  }
  
  
  .derecha{   
	float: right;
	width: 75%;
	}
  
  
  img#fot {
	width: 19vw;
	height: 13vw;
	margin-left: 24vw;
	margin-top:  0vw;
	border-radius: 1.8vw;
  }
  
  
  .perfil {
	background-color: rgba(255, 255, 255, 0.555);
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
    margin-bottom: 2vw;
    max-width: 60%;
	margin-right: auto;
	margin-left: auto;
  }
  

  
  .card3 {
	background-color: rgba(255, 255, 255, 0.555);
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
    margin-bottom: 2vw;
    max-width: 60%;
	margin-right: auto;
	margin-left: auto;
  
  }
  
  .proyecto1 {
	background-color: rgba(255, 255, 255, 0.555);
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	margin-left: 2vw;
	margin-right: 27px;
	margin-bottom: 2vw;
  }
  
  .proyecto2 {
	background-color: rgba(255, 255, 255, 0.555);
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	margin-left: 2vw;
	margin-right: 27px;
	margin-bottom: 2vw;
  }
  
  .proyecto3 {
	background-color: rgba(255, 255, 255, 0.555);
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	margin-left: 2vw;
	margin-right: 27px;
	margin-bottom: 2vw;
  }
  
  section {
	max-width: 880px;
	margin-right: auto;
	margin-left: auto;
  }
  
  
  
  
  @media screen and (min-width: 30em) {
	section {
	  display: table;
	  table-layout: fixed;
    }
    .perfil {
        display: table;
        table-layout: fixed;

    }
    .card2 {
        display: table;
        table-layout: fixed;
    }

}


  /*barra*/

.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background:  rgba(95, 94, 94, 0.788);
    color: #f0f8ea;
    padding: 1em 0;
    position: relative;
}

header::after{
    content: '';
    clear: both;
    display: block;
}
.logo{
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.logo span{
    font-weight: 300;
}
.site-nav{
    top:100%;
    right:0;
    position: absolute;
    background: #464655;
    clip-path: circle(0px at top right);
    

}
.site-nav ul{
    margin: 0;
    padding: 10;
    list-style: none;
}



.site-nav a{
    color: #ffffff;
    display: block;
    padding: 2em 6em;
    text-transform: uppercase;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{
    background: #e4b363;
    color: #464655;
}

.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle{
   
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    
}



@media (min-width:700px){
  .menu-toggle{
      display: none;
  } 
  .site-nav{
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      margin-right: 10px;
      clip-path: initial;
  } 
  .site-nav li{
      display: inline-block;
      border: none;
  }

  .site-nav a{
      padding: 0;
      margin-left: 3em;
  }
  .site-nav--icon{
      display: none;
  }
  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }

}